<div class="container">
  <div class="row">
    <app-section>
      <div class="panel-heading" [caption]="'books.booksSectionTitle' | translate" icon="book">
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col col-lg-4 col-md-4 col-sm-6" *ngFor="let book of (books$ | async); trackBy: trackByBooks">
            <app-find-book-component [book]="book"></app-find-book-component>
          </div>
        </div>
      </div>
    </app-section>
  </div>
</div>

