<div class="container">
  <div class="raw">
    <div class="col-sm-3">
      <app-section>
        <app-section-header title="Serhii Denysov">
          <span>sdenysov</span>
        </app-section-header>
        <app-section-main>
          <span class="icon-book"></span>
          <span>All books</span>
        </app-section-main>
      </app-section>
    </div>
    <div class="col-sm-9 profile-section">
      <app-section>
        <app-section-header title="{{'profile.title' | translate}}" icon="icon-user">
          <span dropdown>
            <a id="profile-dropdown" role="button" class="dropdown-toggle" dropdownToggle (click)="false" aria-controls="profile-dropdown-link">
            <span class="icon-option-horizontal"></span>
          </a>
          <ul id="profile-dropdown-link" *dropdownMenu class="dropdown-menu profile-dropdown-menu" aria-labelledby="profile-dropdown" role="menu">
            <li><a (click)="$event.preventDefault()" translate>profile.edit_avatar</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="$event.preventDefault()" translate>profile.edit_profile</a></li>
          </ul>
          </span>
        </app-section-header>
        <app-section-main>
          <table class="profile-table">
            <tr>
              <th>Date of birth:</th>
              <td>1992-06-21</td>
            </tr>
            <tr>
              <th>Location:</th>
              <td>
                <span>Warsaw</span>
                <span class="icon-location"></span>
              </td>
            </tr>
          </table>
          <app-section-header title="About me:"></app-section-header>
          <app-section-main>some text</app-section-main>
        </app-section-main>
      </app-section>
      <app-section>
        <app-section-header title="{{'books.title' | translate}}" icon="icon-book"></app-section-header>
        <app-section-main><app-my-books-component></app-my-books-component></app-section-main>
      </app-section>
    </div>
  </div>
</div>
