/*MAIN THEM*/
$color-gray: #7a7a7a;
$color-gray-light: #ccc;
$color-gray-lightest: #f0f0f0;
$color-primary: #4a76a8;
$color-primary-hover: #3d6898;
$color-primary-active: $color-primary-hover;
$color-theme-dark: #224b7a;
$color-lightest: #fff;

/*TEXT*/
$color-text: $color-gray;
$color-text-light: $color-gray-light;
$color-text-lightest: $color-lightest;
