/* Main */
$color-gray-dark: #555;
$color-gray: #999;
$color-gray-light: #ededed;
$color-gray-lightest: #fafafa;
$color-main-bg: #fff;
$color-theme-base: #4a76a8;
$color-theme-base-hover: #3d6898;

/* Text */
$color-text: $color-gray;
$color-text-light: $color-gray-light;
$color-text-lightest: $color-gray-lightest;
$color-nav-text: #fff;
