// TODO clean a colors file
$color-bg-main: #fff;
$color-gray--lighten: #ccc;
$color-base: #3a474e;
$color-primary: #003768;
$color-primary-dark: #002a4d;
$color-primary-hover: #0165b6;
$color-primary-focus: darken($color-primary-hover, 11%);
$color-secondary: #e2e7ea;
$color-danger: #b90737;
$color-alert: #bd002d;
$color-alert-transparent: rgba(189, 0, 45, 0.6);
$color-info: #337ab7;
$color-spacer: #e9e9e9;
$color-box-border: #e4e4e4;
$color-box-shadow: #d4d4d4;
$color-input-text: #999;
$color-success: #029432;
$color-inactive: #c8c8c8;
$color-breadcrumb-number-active: #003768;
