/// https://css-tricks.com/snippets/sass/str-replace-function/

@function str-replace($string, $search, $replace: "") {
  $string: inspect($string);
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


$spacing: 5;
$spacing-step: 0.5;
$sides: (top, bottom, left, right);

// Generates spacing (margin & padding) CSS classes with 0.5rem step
// @example
//  .mT-0-5 -> { margin-top:     0.5rem }
//  .mT-1   -> { margin-top:     1rem   }
//  .mT-1-5 -> { margin-top:     1.5rem }
//  .pT-2-5 -> { padding-top:    2.5rem }
// ...
//  .mB-1   -> { margin-bottom:  1rem   }
//  .mL-1   -> { margin-left:    1rem   }
//  .mR-1   -> { margin-right:   1rem   }
// ...
//  .pT-1   -> { padding-top:    1rem   }
//  .pB-1   -> { padding-bottom: 1rem   }
//  .pL-1   -> { padding-left:   1rem   }
//  .pR-1   -> { padding-right:  1rem   }
@while $spacing > 0 {
  @each $side in $sides {
    .m#{to_upper_case(str-slice($side, 0, 1))}-#{str-replace($spacing, ".", "-")} {
      margin-#{$side}: #{$spacing}rem;
    }

    .p#{to_upper_case(str-slice($side, 0, 1))}-#{str-replace($spacing, ".", "-")} {
      padding-#{$side}: #{$spacing}rem;
    }
  }
  $spacing: $spacing - $spacing-step;
}
