@import "utils/colors";
@import "utils/mixins";
@import "variables";

$section-base-padding: 0.8rem;

app-section {
  section {
    background-color: $color-main-bg;
    border-radius: $border-radius-default;

    header {
      @include clearfix();
      border-bottom: 1px solid $color-gray-light;
      padding: $section-base-padding;
    }

    main {
      padding: $section-base-padding;
    }
  }
}
