@import "utils/colors";
@import "utils/mixins";
@import "variables";

$section-base-padding: 0.8rem;

.data-section {
  header {
    @include clearfix;
    text-transform: uppercase;
    background-color: $color-gray-lightest;
    border-bottom: 1px solid $color-gray-light;
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    padding: $section-base-padding;
  }

  main {
    background-color: $color-lightest;
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
    padding: $section-base-padding;
  }
}
