<div class="container">
  <div class="row">
    <app-section>
      <div class="panel-heading" [caption]="caption" icon="book">
          <button *ngIf="'User' | can: 'manage'" class="btn btn-primary btn-block btn-xs" translate (click)="addBook()">
            <app-icon class="pR-0-2" name="plus"></app-icon>
            <span>Add new books</span>
          </button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col col-lg-3 col-md-4 col-sm-6" *ngFor="let book of (books$ | async); trackBy: trackByBooks">
            <app-user-book-component [book]="book"></app-user-book-component>
          </div>
        </div>
      </div>
    </app-section>
  </div>
</div>
