<div class="container">
  <div class="row">
    <app-section>
      <app-section-header [caption]="caption" icon="book">
        <button *ngIf="'User' | can: 'manage'" class="btn btn-primary btn-block btn-xs" translate>
          <app-icon class="pR-0-2" name="plus"></app-icon> Add new books
        </button>
      </app-section-header>
      <app-section-main>
        <div class="row">
          <div class="col-lg-3" *ngFor="let book of (books$ | async); trackBy: trackByBooks">
            <app-user-book-component [book]="book"></app-user-book-component>
          </div>
        </div>
      </app-section-main>
    </app-section>
  </div>
</div>
