@import "utils/colors";

.book-actions {
  display: none;
}

.book-container {
  position: relative;
  height: 33rem;
  margin-bottom: 0;
}

.book-description {
  position: absolute;

  &:hover {
    .book-actions {
      display: block;
    }
  }

  .book-img {
    text-align: center;
  }

  .book-title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .book-details {
    margin-bottom: 0;
    font-family: cursive;
    font-size: 1.3rem;
    color: $color-text;

    a {
      color: $color-text;
    }

    app-icon {
      color: $color-text-dark;
    }
  }
}
