<div class="clearfix book-container">
  <div class="thumbnail book-description">
    <div class="book-img">
      <img src="assets/images/cover-page.jpg"/>
    </div>
    <h1 class="h3 book-title">{{book.title}}</h1>
    <div class="author">
      <app-icon class="pR-1" name="user"></app-icon>
      <a href="">{{book.author}}</a>
      <rating class="pull-right" [(ngModel)]="book.rating" [max]="5" [readonly]="true"></rating>
    </div>
    <div class="book-genre">
      <app-icon class="pR-1" name="folder-open"></app-icon>
      <span>horror|fantasy</span>
    </div>
    <div class="book-actions">
      <app-book-actions class="pull-right"></app-book-actions>
    </div>
  </div>
</div>
