@import "utils/colors";
@import "utils/mixins";
@import "variables";

$navbar-height: 4.2rem;
$search-field-height: 3rem;
$profile-image-size: 2.8rem;
$search-form-top-margin: (($navbar-height - $search-field-height) / 2);
$profile-image-top-margin: (($navbar-height - $profile-image-size) / 2);

.navbar {
  height: $navbar-height;
  background-color: $color-primary;
  border: none;
  min-height: $navbar-height;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  & .navbar-brand {
    color: $color-text-lightest;
    font-family: 'Yesteryear', cursive;
    font-size: 3rem;
    display: inline-block;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 1.5rem 0 0;

    .logo {
      vertical-align: middle;
    }
  }

  .navbar-nav {
    & > li > a {
      color: $color-text-lightest;
      height: $navbar-height;
      line-height: $navbar-height;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

.profile-dropdown {
  .profile-button {
    padding: 0 1rem 0 1rem;
    white-space: nowrap;

    .profile-name {
      display: inline-block;
      height: $navbar-height;
      padding-right: 0.7rem;
    }

    .profile-image {
      border-radius: 50%;
      display: inline-block;
      height: $profile-image-size;
      vertical-align: top;
      margin-top: $profile-image-top-margin;
      margin-right: 0.5rem;
      width: $profile-image-size;
    }

    .caret {
      vertical-align: top;
      margin-top: ($navbar-height / 2);
    }
  }

  .profile-dropdown-menu {
    margin-top: 6px;
  }
}

.navbar-nav {
  & > li {
    &:hover {
      background-color: $color-primary-hover;
    }

    &.active {
      a {
        background-color: $color-primary-active;
      }
    }
  }

  & .open {
    & > a {
      background-color: $color-primary-active;

      &:focus {
        background-color: $color-primary-active;
      }

      &:hover {
        background-color: $color-primary-active;
      }
    }
  }
}

.navbar-form {
  margin-bottom: 0;
  margin-top: $search-form-top-margin;
  position: relative;

  .search {
    background-color: $color-theme-dark;
    border: none;
    border-radius: $border-radius-round;
    color: $color-text-lightest;
    height: $search-field-height;
    min-width: 40rem;
    padding-left: 3rem;
    @include placeholder {
      color: $color-text-light;
    }
  }

  .search-ico {
    color: $color-text-lightest;
    left: 2.5rem;
    font-size: ($search-field-height / 2);
    position: absolute;
    top: 0.5rem;
  }
}

