@import "utils/colors";
@import "utils/mixins";
@import "variables";

$navbar-height: 5rem;

.navbar {
  background-color: $color-primary;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  & .navbar-brand {
    font-family: 'Yesteryear', cursive;
    color: $color-text-lightest;
    font-size: 3rem;
    padding: 1.4rem 1.5rem;

    .logo {
      vertical-align: middle;
    }
  }

  .navbar-nav {

    & > li > a {
      padding-top: 0;
      padding-bottom: 0;
      height: $navbar-height;
      line-height: $navbar-height;
      color: $color-text-lightest;
    }

    .profile-button {
      white-space: nowrap;
      padding: 0 1rem 0 1rem;

      .profile-name {
        display: inline-block;
        height: 2.8rem;
        padding-right: 0.7rem;
      }

      .profile-image {
        display: inline-block;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 14px;
        vertical-align: top;
        margin: 1.2rem 0.5rem 1.2rem 0;
      }
    }
  }
}

.navbar-nav {
  & > li {
    &:hover {
      background-color: $color-primary-hover;
    }

    &.active {
      a {
        background-color: $color-primary-active;
      }
    }
  }

  & .open {
    & > a {
      background-color: $color-primary-active;

      &:focus {
        background-color: $color-primary-active;
      }

      &:hover {
        background-color: $color-primary-active;
      }
    }
  }
}

.navbar-form {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  border: none;
  height: 3rem;
  min-width: 40rem;
  background-color: $color-theme-dark;
  border-radius: $border-radius-round;
  color: $color-text-lightest;
  padding-left: 3rem;
  @include placeholder {
    color: $color-text-light;
  }
}

.search-ico {
  position: absolute;
  top: 0.9rem;
  left: 2.5rem;
  color: $color-text-lightest;
}
