<nav *ngIf="vm$ | async as vm" class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" (click)="$event.preventDefault()" href="">
      <span class="logo">Book Club</span>
    </a>
    <ul class="nav navbar-nav">
      <li routerLink="/books" routerLinkActive="active"><a (click)="$event.preventDefault()" href="">Books</a></li>
    </ul>
    <form *ngIf="vm.navbar.searchFieldVisible" class="navbar-form navbar-left">
      <div class="form-group">
        <input #searchInput type="text" class="form-control search" placeholder="Search"
               (input)="inputChange$.next(searchInput.value)">
        <span class="glyphicon glyphicon-search search-ico"></span>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="vm.navbar.userBtnVisible" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
          <img class="profile-image" src="assets/images/avatar-circle.jpg" alt="">
          <span class="profile-name">{{vm.user.username}}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu user-dropdown">
          <li routerLink="/{{vm.user.username}}"><a (click)="$event.preventDefault()" href="">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li routerLink="/user/my-books"><a (click)="$event.preventDefault()" href="">My books</a></li>
          <li routerLink="/user/new-book"><a (click)="$event.preventDefault()" href="">New book</a></li>
          <li routerLink=""><a (click)="logout()" href="">Logout</a></li>
        </ul>
      </li>
      <li *ngIf="vm.navbar.loginBtnVisible" routerLink="/login" routerLinkActive="active"><a (click)="$event.preventDefault()" href="">Log In</a></li>
      <li *ngIf="vm.navbar.registerBtnVisible" routerLink="/register" routerLinkActive="active"><a (click)="$event.preventDefault()" href="">Register</a>
      </li>
    </ul>
  </div>
</nav>
