<nav *ngIf="vm$ | async as vm" class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" (click)="$event.preventDefault()" href="">
      <span class="logo">Book Club</span>
    </a>
    <ul class="nav navbar-nav">
      <li routerLink="/find-books"><a class="navbar-button" (click)="$event.preventDefault()" href="">Find books</a></li>
    </ul>
    <form *ngIf="vm.navbar.searchFieldVisible" class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text"
               autocomplete="off"
               class="form-control search"
               name="bookSearch"
               typeaheadOptionField="title"
               typeaheadWaitMs="1000"
               placeholder="Search"
               [(ngModel)]="search"
               [typeaheadHideResultsOnBlur]="true"
               [typeaheadIsFirstItemActive]="false"
               [typeaheadMinLength]="1"
               [typeaheadOptionsLimit]="10"
               [typeahead]="booksSuggestion$"
               [typeaheadAsync]="true"
               (typeaheadOnSelect)="onSelect($event)"
               (keydown.enter)="searchBooks()">
        <app-icon class="search-ico" name="search"></app-icon>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="vm.navbar.userBtnVisible" class="profile-dropdown">
        <app-dropdown [items]="userMenuItem" (select)="onActionSelect($event)">
          <div class="navbar-button profile-button" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="profile-image" src="assets/images/avatar-circle.jpg" alt="">
            <span class="profile-name">{{vm.user?.username}}</span>
            <span class="caret"></span>
          </div>
        </app-dropdown>
      </li>
      <li *ngIf="vm.navbar.loginBtnVisible" routerLink="/login" routerLinkActive="active"><a class="navbar-button" (click)="$event.preventDefault()" href="">Log In</a></li>
      <li *ngIf="vm.navbar.registerBtnVisible" routerLink="/register" routerLinkActive="active"><a class="navbar-button" (click)="$event.preventDefault()" href="">Register</a></li>
    </ul>
  </div>
</nav>
