<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-section>
        <app-section-main>
          <img appImageSrc="avatar.jpg" class="avatar"/>
        </app-section-main>
      </app-section>
    </div>
    <div class="col-sm-9">
      <app-section>
        <app-section-header title="header text" icon="id-card"></app-section-header>
        <app-section-main>
          <div *ngIf="user$ | async as user">
            <div *ngIf="user.birthDate" class="row">
              <strong class="col-sm-2">Birth date:</strong>
              <span class="col-sm-10">{{user.birthDate}}</span>
            </div>
            <div *ngIf="user.location" class="row">
              <strong class="col-sm-2">Location:</strong>
              <span class="col-sm-10">{{user.location}}</span>
            </div>
            <div *ngIf="user.aboutMe">
              <strong class="">About me:</strong>
              <hr class="line-delimiter">
              <span>{{user.aboutMe}}</span>
            </div>
          </div>
        </app-section-main>
      </app-section>
    </div>
  </div>
</div>
