<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="vm.loaded && !vm.user" class="container">
    User not found!
  </div>
  <div *ngIf="vm.loaded && vm.user" class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-section>
          <app-section-main>
            <img appImageSrc="avatar.jpg" class="avatar"/>
            <button *ngIf="'User' | can: 'manage'" class="btn btn-primary btn-block mT-1" translate>Edit profile image</button>
          </app-section-main>
        </app-section>
      </div>
      <div class="col-sm-9">
        <app-section>
          <app-section-header [caption]="'profile.profileSectionTitle' | translate" icon="user"></app-section-header>
          <app-section-main>
            <span>some text in main section</span>
            <table class="profile-table">
              <tr>
                <th>Date of birth:</th>
                <td>1992-06-21</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>
                  <span>Warsaw</span>
                  <app-icon name="location"></app-icon>
                </td>
              </tr>
            </table>
            <h1 class="">About me:</h1>
            <span>some text</span>
          </app-section-main>
        </app-section>
        <app-section>
          <app-section-header [caption]="'profile.booksSectionTitle' | translate" icon="book"></app-section-header>
          <app-section-main></app-section-main>
        </app-section>
      </div>
    </div>
  </div>
</ng-container>
