.avatar {
  width: 100%;
}

.glyphicon {
  vertical-align: middle;
}

.profile-section {
  padding-right: 0;
}

.profile-dropdown-menu {
  float: right;
  left: 79%;
  top: 3.5rem;
}

.icon-option-horizontal {
  margin-right: 1.5rem;
}

.profile-table {
  th,
  td {
    padding: 0 2rem 1rem 0;
  }
}
