<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-section>
        <app-section-main>
          <img appImageSrc="avatar.jpg" class="avatar"/>
          <button *ngIf="'User' | can: 'manage'" class="btn btn-primary btn-block mT-1" translate>Edit profile image</button>
        </app-section-main>
      </app-section>
    </div>
    <div class="col-sm-9">
      <app-section>
        <app-section-header title="header text" icon="book"></app-section-header>
        <app-section-main>
          <span>some text in main section</span>
        </app-section-main>
      </app-section>
    </div>
  </div>
</div>
