<div class="thumbnail clearfix">
  <img src="assets/images/cover-page.jpg"/>
  <div>
    <h4 class="h3">{{book.title}}</h4>
    <h4 class="h3">
      <ng-content></ng-content>
    </h4>
    <p>{{book.description}}</p>
    <div class="lead"><a href="">{{book.author}}</a></div>
    <p>Rating: {{book.rating}}</p>
    <p>
      <a class="btn btn-success" role="button" (click)="$event.preventDefault()">Edit details</a>
      <a class="btn btn-success" role="button" (click)="$event.preventDefault()">Change image</a>
      <a class="btn btn-danger" role="button" (click)="$event.preventDefault()">Delete book</a></p>
  </div>
</div>
