<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="" routerLinkActive="active" (click)="$event.preventDefault()" href="">Book Club</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLink="/books" routerLinkActive="active"><a (click)="$event.preventDefault()" href="">Books</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input #searchInput type="text" class="form-control" placeholder="Search" (input)="inputChange$.next(searchInput.value)">
          <span class="glyphicon glyphicon-search search-ico"></span>
        </div>
      </form>
      <div  class="nav navbar-nav navbar-right">
        <ul *ngIf="currentUserExists$ | async; else unauthorizedMenu" class="nav navbar-nav navbar-right">
          <li  class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="nav-login-text">Serhii Denysov</span>
              <div class="user-icon-dot"><span class="glyphicon glyphicon-user"></span></div>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li routerLink="/user/profile"><a (click)="$event.preventDefault()" href="">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li routerLink="/user/my-books"><a (click)="$event.preventDefault()" href="">My books</a></li>
              <li routerLink="/user/new-book"><a (click)="$event.preventDefault()" href="">New book</a></li>
            </ul>
          </li>
        </ul>
        <ng-template #unauthorizedMenu>
          <ul  class="nav navbar-nav navbar-right">
            <li routerLink="/login" routerLinkActive="active"><a (click)="$event.preventDefault()" href="">Log In</a></li>
            <li routerLink="/register" routerLinkActive="active"><a (click)="$event.preventDefault()" href="">Register</a></li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
