@import "utils/colors";
@import "utils/mixins";

.navbar {
  font-family: 'Lato', sans-serif;
  background-color: $color-theme-base;
  border-radius: 0;

  .navbar-brand {
    color: $color-nav-text;
    font-family: "Yesteryear", cursive;
    font-size: 3rem;
    line-height: 25px;
  }

  .navbar-link {
    /*&:hover {
      background-color: $color-theme-base-hover;
    }*/

    :first-child:not(.icon-user) {
      color: $color-nav-text;
      font-size: 1.6rem;
      padding-bottom: 1rem;

      &:hover,
      &:focus {
        background-color: $color-theme-base-hover;
      }
    }

    .user-dropdown {

      li {
        padding-bottom: 0;

        &:hover {
              background-color: $color-gray-light;
            }
        a {
          padding-bottom: 0.3rem;
          color: $color-gray-dark;

          &:hover,
          &:focus {
            background-color: $color-gray-light;
          }
        }
      }
    }
  }

  .books-btn {
    //TODO different height for the same type of li
    height: 5rem;
  }

  .navbar-form {
    position: relative;
  }

  .search-input {
    color: $color-nav-text;
    background-color: $color-theme-base-hover;
    border-radius: 5rem;
    border-color: $color-theme-base-hover;
    padding-right: 3rem;
    font-size: 1.6rem;
    padding-bottom: 0.7rem;
    @include placeholder {
      color: $color-text-lightest;
    }
  ;
  }

  .icon-search {
    position: absolute;
    top: 1rem;
    right: 2.6rem;
    color: $color-nav-text;
  }

  .icon-user {
    color: $color-theme-base-hover;
  }

  .nav-login-text {
    color: $color-nav-text;
    font-size: 1.6rem;
    padding-right: 1rem;
  }

  .user-icon-dot {
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    position: relative;
    text-align: center;
    background-color: $color-main-bg;
    width: 25px;
  }

  .user-icon-dot > span {
    top: calc(50% - 10px);
  }

  .input-group-append {
    display: inline-block;
  }
}

